body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: sans-serif;
    background-image: linear-gradient(25deg,#2b65b1,#79c5ea);
    background-attachment: fixed;
    color: #4a5c91;
    padding-top: 5em;
    box-sizing: border-box;
}
.page {
    width: 80%;
    margin: 0 auto;
    background: rgba(243, 248, 255,0.9);
    box-sizing: border-box;
    padding: 3rem;
    border: 1px solid #4f7cff;
    box-shadow: 3px 3px 6px RGBa(0,0,0,0.25);
}
h1 {
    margin: 0 0 0.5rem 0;
    color: #45496c;
}
a {
    padding: 5px 2px;
}
a:hover {
    color: #5b5b5b;
    background-color: RGBa(0,0,0,0.1);  
}
@media (max-width: 740px) {
    body {
        padding-top: 3em;
    }
    :root {
        font-size: 13px;
    }
    .page {
        width: 90%;
    }
}
@media (max-width: 360px) {
    :root {
        font-size: 11px;
    }   
    .page {
        width: 100%;
    }
}